# dependencies
node_modules/

# build output
.next/
out/
dist/

# env
.env
.env.*
!.env.example

# database
*.db
*.sqlite
*.sqlite3
prisma/dev.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# TypeScript cache
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/